#######################
###### Client #########
#######################

# dependencies
client/node_modules/
client/yarn.lock

# production
client/build/

# log
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

#######################
###### Server #########
#######################

# dependencies
server/node_modules/
server/yarn.lock

# production
server/build/

# log
server/npm-debug.log*
server/yarn-debug.log*
server/yarn-error.log*